{% extends 'base_account.html' %}


{% block content %}

  <div class="mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
          <main>
            <div class="text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16"><path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/></svg>
              <h2>Новое объявление</h2>
              <p class="lead">Подать объявление о продаже товара на нашей площадке. Загрузка изображений временно недоступна.</p>
            </div>
            <div class="container">
                <h4 class="mb-3">Характеристики товара</h4>
                <form class="needs-validation" novalidate="" method="post">
                  <label for="title">Название товара</label>
                  <input type="text" class="form-control" name="title" id="title"><br>
                  <label for="description">Описание товара</label>
                  <input type="text" class="form-control" name="description" id="description"><br>
                  <label for="tags">Теги для поиска</label>
                  <input type="text" class="form-control" name="tags" id="tags"><br>
                  <div class="row">
                      <div class="col-md-6">
                          <label for="amount">Количество на складе</label>
                          <input type="number" class="form-control" name="amount" id="amount"><br>
                      </div>
                      <div class="col-md-6">
                          <label for="price">Стоимость за 1 единицу товара</label>
                          <input type="number" class="form-control" name="price" id="price">
                      </div>
                  </div>

                  <hr class="my-4">

                  <button class="w-100 btn btn-success btn-lg" type="submit">Отправить на модерацию</button>
                </form>
              </div>

          </main>
      </div>
  </div>

{% endblock content %}