{% extends 'base.html' %}

{% block title %}
Аккаунт
{% endblock title %}

{% block main %}
    <div class="row">

        <div class="d-flex flex-column flex-shrink-0 p-3 px-4 bg-light" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="col-6 bi bi-person-circle" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/></svg>
              <span class="fs-4 col-6">Аккаунт</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="/index" class="nav-link active" aria-current="page">
                  <i class="bi bi-house-door"></i>
                  Главная
                </a>
              </li>
              <li>
                <a href="/account/create" class="nav-link link-dark">
                  <i class="bi bi-clipboard-plus"></i>
                  Подать объявление
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <i class="bi bi-cart2"></i>
                  Моя корзина
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <i class="bi bi-clock-history"></i>
                  История покупок
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <i class="bi bi-gear"></i>
                  Настройки
                </a>
              </li>
              <li>
                <a href="#" class="nav-link link-dark">
                  <i class="bi bi-box-arrow-left"></i>
                  Выйти
                </a>
              </li>
            </ul>
            <hr>
            <h4>
              <i class="bi bi-person"></i>
              Владислав
            </h4>
        </div>
        <div class="col-9">
            {% block content %}{% endblock content %}
        </div>
    </div>
{% endblock main %}
